/**
 * CORE BRANDING API
 * -------------------------------------------------------------------
 */

/**
 * QUARKS
 * -------------------------------------------------------------------
 */

/**
 * MIXINS
 * -------------------------------------------------------------------
 * Collection of custom mixins
 */

/**
 * FONT FACE
 * -------------------------------------------------------------------
 */

/**
 * BUTTON MIXIN
 * -------------------------------------------------------------------
 */

/**
 * BUTTON OUTLINE MIXIN
 * -------------------------------------------------------------------
 */

/**
 * INPUT MIXIN
 * -------------------------------------------------------------------
 */

/**
 * INPUT PLACEHOLDER MIXIN
 * -------------------------------------------------------------------
 * Change base styling for placeholder text on input fields
 * Note: Styling the placeholder text is not supported on older
 * browsers, use a html5-placeholder ployfill for that
 *
 * Background info:
 * - http://davidwalsh.name/html5-placeholder
 * - http://davidwalsh.name/placeholder-overflow
 * - http://jamesallardice.github.io/Placeholders.js
 */

/**
 * ALERT MIXIN
 * -------------------------------------------------------------------
 */

/**
 * BADGE MIXIN
 * -------------------------------------------------------------------
 */

/**
 * LABEL MIXIN
 * -------------------------------------------------------------------
 */

/**
 * TOOLTIP MIXIN
 * -------------------------------------------------------------------
 */

/**
 * CLEARFIX
 * -------------------------------------------------------------------
 */

/**
 * FONT AWESOME
 * -------------------------------------------------------------------
 */

/**
 * MEDIA QUERIES MIXIN
 * -------------------------------------------------------------------
 */

/**
 * FUNCTIONS
 * -------------------------------------------------------------------
 * Collection of custom functions
 */

/**
 * STRIP UNIT FROM VALUE
 * -------------------------------------------------------------------
 */

/**
 * CONVERT PX TO REM
 * -------------------------------------------------------------------
 */

/**
 * RAISE NUMBER TO CERTAIN POWER
 * -------------------------------------------------------------------
 */

/**
 * HANDLING Z-INDEX LAYERS
 * -------------------------------------------------------------------
 */

/**
 * COLORS
 * -------------------------------------------------------------------
 * Collection of all available branding colors
 */

/**
 * COMPLETE COLOR PALETTE
 * -------------------------------------------------------------------
 * Variable names generated by Name That Color
 * http://chir.ag/projects/name-that-color
 */

/**
 * GRAYSCALE COLOR PALETTE
 * -------------------------------------------------------------------
 * Collection of grayscale colors
 */

/**
 * SOCIAL BRAND COLOR PALETTE
 * -------------------------------------------------------------------
 * Collection of social branding colors
 */

/**
 * VARIABLE OVERRIDES
 * -------------------------------------------------------------------
 */

/**
 * GLOBAL VARIABLES
 * -------------------------------------------------------------------
 */

/**
 * SPECIFIC COLOR PALETTE
 * -------------------------------------------------------------------
 */

/**
 * SPACERS
 * -------------------------------------------------------------------
 */

/**
 * BREAKPOINTS
 * -------------------------------------------------------------------
 */

/**
 * FONT FAMILIES
 * -------------------------------------------------------------------
 */

/**
 * FONT SIZES
 * -------------------------------------------------------------------
 */

/**
 * LINE HEIGHTS
 * -------------------------------------------------------------------
 */

/**
 * FONT WEIGHTS
 * -------------------------------------------------------------------
 */

/**
 * OTHER TYPOGRAPHY
 * -------------------------------------------------------------------
 */

/**
 * ANIMATIONS
 * -------------------------------------------------------------------
 */

/**
 * Z-INDEXES
 * -------------------------------------------------------------------
 */

/**
 * ICON SIZES
 * -------------------------------------------------------------------
 */

/**
 * BOX SHADOWS
 * -------------------------------------------------------------------
 */

/**
 * LINKS
 * -------------------------------------------------------------------
 * Define text and hover color for each hyperlink
 */

/**
 * PRE
 * -------------------------------------------------------------------
 * Define text and background color for each code element
 */

/**
 * CODE
 * -------------------------------------------------------------------
 * Define text and background color for each code element
 */

/**
 * MARK
 * -------------------------------------------------------------------
 * Define text and background color for each mark element
 */

/**
 * CITE
 * -------------------------------------------------------------------
 */

/**
 * FIGCAPTION
 * -------------------------------------------------------------------
 */

/**
 * TABLES
 * -------------------------------------------------------------------
 * Define background and border color for each table
 */

/**
 * BUTTONS
 * -------------------------------------------------------------------
 * Define text, background and border color for each button
 */

/**
 * FORMS
 * -------------------------------------------------------------------
 * Define text, background, border and placeholder color for each input
 */

/**
 * RADIO BUTTONS & CHECKBOXES
 * -------------------------------------------------------------------
 */

/**
 * SWITCHES
 * -------------------------------------------------------------------
 * WATCH OUT
 * $progress-height and $range-slider-height are equal to $switch-height
 * In this way, changing the height of the switch will also affect the height of the progress bar and range slider
 */

/**
 * FIELDSET
 * -------------------------------------------------------------------
 */

/**
 * TOOLTIP
 * -------------------------------------------------------------------
 */

/**
 * PROGRESS
 * -------------------------------------------------------------------
 * WATCH OUT
 * $range-slider-offset is equal to $tooltip-offset
 * In this way, changing the offset of the progress bar will also affect the offset of the range slider
 */

/**
 * RANGE SLIDER
 * -------------------------------------------------------------------
 */

/**
 * LINK LIST
 * -------------------------------------------------------------------
 */

/**
 * DATEPICKER
 * -------------------------------------------------------------------
 */

/**
 * ACCORDION
 * -------------------------------------------------------------------
 */

/**
 * ALERTS
 * -------------------------------------------------------------------
 */

/**
 * AVATARS
 * -------------------------------------------------------------------
 */

/**
 * BADGES
 * -------------------------------------------------------------------
 */

/**
 * BREADCRUMBS
 * -------------------------------------------------------------------
 */

/**
 * CARDS
 * -------------------------------------------------------------------
 */

/**
 * COPYRIGHT
 * -------------------------------------------------------------------
 */

/**
 * LABELS
 * -------------------------------------------------------------------
 */

/**
 * TAGS
 * -------------------------------------------------------------------
 */

/**
 * FLYOUT
 * -------------------------------------------------------------------
 */

/**
 * FOOTER
 * -------------------------------------------------------------------
 */

/**
 * HEADER
 * -------------------------------------------------------------------
 */

/**
 * SPINNER
 * -------------------------------------------------------------------
 */

/**
 * ICON LIST
 * -------------------------------------------------------------------
 */

/**
 * OVERLAY
 * -------------------------------------------------------------------
 */

/**
 * MODAL
 * -------------------------------------------------------------------
 */

/**
 * NAVIGATION
 * -------------------------------------------------------------------
 */

/**
 * PAGINATION
 * -------------------------------------------------------------------
 */

/**
 * STEP INDICATOR
 * -------------------------------------------------------------------
 */

/**
 * UPLOAD
 * -------------------------------------------------------------------
 */

/**
 * GALLERY
 * -------------------------------------------------------------------
 */

/**
 * SLIDESHOW
 * -------------------------------------------------------------------
 */

/**
 * CUSTOM STYLING FOR STYLEGUIDE
 * -------------------------------------------------------------------
 */

footer {
	margin-top: 6rem;
}

.a-pre {
	margin: 0;
}

.a-pre + .a-pre {
	margin-top: 0.375rem;
}

.d {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	    flex-direction: column;
	margin: 1.5rem -1.5rem;
}

.d > div {
	-ms-flex: 1 1 0px;
	    flex: 1 1 0;
	padding: 0.375rem 1.5rem 0;
}

.d-h1 {
	background: #009ed2;
	background-size: 400% 100%;
	color: white;
	margin-bottom: -6rem;
	padding-bottom: 1.5rem;
	padding-top: 3rem;
}

.d-h1 small {
	color: white;
}

.d-h2 {
	background: black;
	color: white;
	margin-bottom: 3rem;
	margin-top: 6rem;
	padding-bottom: 0.75rem;
	padding-top: 1.5rem;
}

.d-h3 {
	margin-top: 6rem;
	position: relative;
}

.d-h3:before {
	background: black;
	content: '';
	display: block;
	height: 2.25rem;
	left: -3rem;
	position: absolute;
	width: 2.25rem;
}

.d-h4 {
	margin-top: 3rem;
}

.d-file {
	color: #b0b0b0;
}

.d-alert {
	margin-top: 0.75rem;
	padding: 0.75rem;
}

.d-list {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-left: -1.5rem;
	margin-right: -1.5rem;
}

.d-list > li {
	padding: 0 1.5rem;
	width: 100%;
}

.d-list__colors > li {
	margin-top: 0.75rem;
	padding: 0.75rem 1.5rem 0.75rem 9rem;
	position: relative;
}

.d-list__colors > li.d-white .d-color {
	box-shadow: 0 0 0 1px #d8d8d8 inset;
}

.d-list__colors > li .d-color {
	bottom: 0;
	display: block;
	left: 1.5rem;
	position: absolute;
	top: 0;
	width: 6rem;
}

.d-list__variables > li {
	margin-top: 0.375rem;
}

.d-font {
	font-size: 1.5em;
}

.d-font-lg {
	font-size: 3em;
}

.d-bgutility {
	padding: 1.5rem;
}

.d-bgutility.d-u-bg-white {
	box-shadow: 0 0 0 1px #d8d8d8 inset;
}

.d-spacingutility {
	box-shadow: 0 0 0 1px #d8d8d8 inset;
	display: inline-block;
	padding: 3px 1px;
}

.d-textutility.d-u-text-xlight {
	background: #d8d8d8;
	padding: 0.375rem;
}

.d-button {
	margin-bottom: 0.25rem;
}

.d-tooltip {
	margin-bottom: 0.75rem;
}

.d-datepicker {
	margin-bottom: 24rem;
}

.d-flyout {
	margin-bottom: 12rem;
}

.d-flyout--sm {
	margin-bottom: 14rem;
}

.d-flyout--md {
	margin-bottom: 14rem;
}

.d-flyout--lg {
	margin-bottom: 14rem;
}

.d-flyout--full {
	margin-bottom: 7rem;
}

.d-flyout--no-padding {
	margin-bottom: 3rem;
}

.d-icon-list {
	padding: 1.5rem;
}

.d-nav-list {
	margin-bottom: 3rem;
}

.d-pagination {
	margin-bottom: 1.5rem;
}

.d-fix-top {
	margin-top: 3rem;
}

.d-fix-top-sm {
	margin-top: 1.5rem;
}

.d-overlay {
	margin-bottom: 3rem;
}

.d-overlay input:checked ~ .m-overlay {
	-ms-flex-align: center;
	    align-items: center;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	    justify-content: center;
}

.d-overlay input:checked ~ .m-overlay label {
	box-shadow: none;
	height: auto;
	position: static;
	width: auto;
}

.d-overlay input:checked ~ .m-overlay label:after {
	content: none;
}

.d-overlay input:checked ~ .m-overlay .m-modal__footer [class*='a-button'] {
	margin-bottom: 0;
}

@media screen and (min-width: 45rem) {

.d {
	-ms-flex-direction: row;
	    flex-direction: row;
}

.d > div {
	width: 0;
}

.d-list > li {
	width: 50%;
}

.d-flyout--md {
	margin-bottom: 9rem;
}

.d-flyout--lg {
	margin-bottom: 9rem;
}

}

@media screen and (min-width: 62rem) {

.d-flyout--lg {
	margin-bottom: 8rem;
}

}

@media screen and (min-width: 75rem) {

.d-list__colors > li {
	width: 33.33333%;
}

.d-list__variables > li {
	width: 33.33333%;
}

}

@media screen and (max-width: 30rem) {

.d-h1 {
	padding-top: 6rem;
}

.d-overlay input:checked ~ .m-overlay label {
	margin-bottom: 0.75rem;
}

}

@keyframes rainbow {

0% {
	background-position: 0% 0%;
}

50% {
	background-position: 46.25% 0%;
}

100% {
	background-position: 92.5% 0%;
}

}

