/**
 * BUTTONS
 * -------------------------------------------------------------------
 * Buttons are normalized in _base.normalize.scss
 */


/**
 * BUTTON PLACEHOLDER
 * -------------------------------------------------------------------
 */

%a-button {
  border: none;
  border-radius: 0;
  cursor: pointer;
  display: block;
  font-size: rem($btn-font-size);
  font-weight: $btn-font-weight;
  line-height: 1.25;
  margin: 0;
  min-height: $spacer-lg;
  padding: $btn-padding;
  text-align: center;
  text-decoration: none;
  transition-duration: $animation-duration;
  transition-property: color, background;
  transition-timing-function: $animation-easing;
  user-select: none;
  width: 100%;

  @include at($screen-xs) {
    display: inline-block;
    vertical-align: middle;
    width: auto;
  }

  .fa {
    font-size: rem($btn-icon-size);
    line-height: 0;
  }
}

.a-button,
.a-button-negative,
.a-button-outline,
.a-button-transparent {
  @extend %a-button;
}


/**
 * BUTTON COLORS
 * -------------------------------------------------------------------
 */

.a-button {
  @include a-button;

  &.a-button--secondary {
    @include a-button($btn-secondary-color, $btn-secondary-bg);
  }

  &.a-button--success {
    @include a-button($btn-success-color, $btn-success-bg);
  }

  &.a-button--warning {
    @include a-button($btn-warning-color, $btn-warning-bg);
  }

  &.a-button--danger {
    @include a-button($btn-danger-color, $btn-danger-bg);
  }

  &.a-button--transparent {
    @include a-button($btn-transparent-color, $btn-transparent-bg);
    text-decoration: underline;
  }
}

.a-button.has-icon.a-button--default {
  @include a-button($btn-default-color, $btn-default-bg);
}


/**
 * SOCIAL BUTTON COLORS
 * -------------------------------------------------------------------
 */

.a-button.has-icon {

  &.a-button--twitter {
    @include a-button($white, $twitter);
  }

  &.a-button--linkedin {
    @include a-button($white, $linkedin);
  }

  &.a-button--facebook {
    @include a-button($white, $facebook);
  }

  &.a-button--google {
    @include a-button($white, $google);
  }

  &.a-button--snapchat {
    @include a-button($white, $snapchat);
  }

  &.a-button--instagram {
    @include a-button($white);
    background: $instagram;
    position: relative;
    transition-property: opacity;

    &:before {
      background-color: $black;
      content: '';
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transition: opacity $animation-duration $animation-easing;
      width: 100%;
    }

    &:hover,
    &:active {
      &:before {
        opacity: .15;
      }
    }
  }
}


/**
 * BUTTON NEGATIVE COLORS
 * -------------------------------------------------------------------
 */

.a-button-negative {
  @include a-button($btn-primary-bg, $btn-primary-color);

  &.a-button--secondary {
    @include a-button($btn-secondary-bg, $btn-secondary-color);
  }

  &.a-button--success {
    @include a-button($btn-success-bg, $btn-success-color);
  }

  &.a-button--warning {
    @include a-button($btn-warning-bg, $btn-warning-color);
  }

  &.a-button--danger {
    @include a-button($btn-danger-bg, $btn-danger-color);
  }
}


/**
 * BUTTON OUTLINE COLORS
 * -------------------------------------------------------------------
 */

.a-button-outline {
  @include a-button-outline;

  &.a-button--secondary {
    @include a-button-outline($btn-secondary-bg);
  }

  &.a-button--success {
    @include a-button-outline($btn-success-bg);
  }

  &.a-button--warning {
    @include a-button-outline($btn-warning-bg);
  }

  &.a-button--danger {
    @include a-button-outline($btn-danger-bg);
  }
}


/**
 * BUTTON ICON TRANSPARENT COLORS
 * -------------------------------------------------------------------
 */

.a-button-transparent.has-icon {
  @include a-button-outline($btn-primary-bg, transparent, false);

  &.a-button--secondary {
    @include a-button-outline($btn-secondary-bg, transparent, false);
  }

  &.a-button--success {
    @include a-button-outline($btn-success-bg, transparent, false);
  }

  &.a-button--warning {
    @include a-button-outline($btn-warning-bg, transparent, false);
  }

  &.a-button--danger {
    @include a-button-outline($btn-danger-bg, transparent, false);
  }

  &.a-button--default {
    @include a-button-outline($btn-default-bg, transparent, false);
  }
}


/**
 * BUTTON SIZES
 * -------------------------------------------------------------------
 */

.a-button,
.a-button-negative,
.a-button-outline,
.a-button-transparent {

  &.a-button--tiny {
    font-size: rem($btn-font-size-ti);
    min-height: $spacer;
    padding: ($spacer-xs / 3) $spacer-xs;

    .fa {
      font-size: rem($btn-icon-size-ti);
    }
  }

  &.a-button--small {
    font-size: rem($btn-font-size-sm);
    min-height: $spacer-md;
    padding: ($spacer-sm / 2) $spacer;

    .fa {
      font-size: rem($btn-icon-size-sm);
    }
  }

  &.a-button--large {
    font-size: rem($btn-font-size-lg);
    min-height: $spacer-xl;
    padding: $spacer-sm $spacer;

    .fa {
      font-size: rem($btn-icon-size-lg);
    }
  }
}


/**
 * BUTTON WITH ICON LEFT OR RIGHT
 * -------------------------------------------------------------------
 */

.a-button,
.a-button-negative,
.a-button-outline,
.a-button-transparent {

  &.has-icon-left,
  &.has-icon-right {
    position: relative;

    .fa {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: $spacer-lg;
    }
  }

  &.has-icon-left {
    padding-left: $spacer-lg;

    .fa {
      left: 0;
    }
  }

  &.has-icon-right {
    padding-right: $spacer-lg;

    .fa {
      right: 0;
    }
  }
}

.a-button--tiny {

  &.has-icon-left .fa,
  &.has-icon-right .fa {
    width: $spacer;
  }

  &.has-icon-left {
    padding-left: $spacer;
  }

  &.has-icon-right {
    padding-right: $spacer;
  }
}

.a-button--small {

  &.has-icon-left .fa,
  &.has-icon-right .fa {
    width: $spacer-md;
  }

  &.has-icon-left {
    padding-left: $spacer-md;
  }

  &.has-icon-right {
    padding-right: $spacer-md;
  }
}

.a-button--large {

  &.has-icon-left .fa,
  &.has-icon-right .fa {
    width: $spacer-xl;
  }

  &.has-icon-left {
    padding-left: $spacer-xl;
  }

  &.has-icon-right {
    padding-right: $spacer-xl;
  }
}


/**
 * BUTTON ICONS
 * -------------------------------------------------------------------
 */

.a-button,
.a-button-negative,
.a-button-outline,
.a-button-transparent {

  &.has-icon {
    display: inline-block;
    padding: 0;
    position: relative;
    vertical-align: middle;
    width: $spacer-lg;

    .fa {
      left: 0;
      line-height: $spacer-lg;
      position: absolute;
      top: 0;
      width: $spacer-lg;
    }
  }
}

.a-button--tiny.has-icon {
  width: $spacer;

  .fa {
    line-height: $spacer;
    width: $spacer;
  }
}

.a-button--small.has-icon {
  width: $spacer-md;

  .fa {
    line-height: $spacer-md;
    width: $spacer-md;
  }
}

.a-button--large.has-icon {
  width: $spacer-xl;

  .fa {
    line-height: $spacer-xl;
    width: $spacer-xl;
  }
}


/**
 * BLOCK BUTTON
 * -------------------------------------------------------------------
 */

.a-button--block {
  @include at($screen-xs) {
    display: block;
    width: 100%;
  }
}
