<a name="base"></a>
<div class="u-wrapper d-h2">
    <div class="u-container">
        <h2>Base</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container">
        <a name="base-layout"></a>
        <h3 class="d-h3">Layout</h3>
        <span class="d-file">base/base.layout</span>
        <div class="d">
            <div>
                This file contains mostly basic layout-related styling resets, like box model behaviour and such. No need to worry about its contents!
            </div>
        </div>



        <a name="base-media"></a>
        <h3 class="d-h3">Media</h3>
        <span class="d-file">base/base.media</span>
        <div class="d">
            <div>
                This file contains mostly basic media-related styling resets, like default behaviour of video and images. No need to worry about its contents!
            </div>
        </div>



        <a name="base-typography"></a>
        <h3 class="d-h3">Typography</h3>
        <span class="d-file">base/base.typography</span>
        <div class="d">
            <div>
                <h1>Heading 1</h1>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;h1&gt;Heading 1&lt;/h1&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="h1"&gt;Heading 1&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <h2>Heading 2</h2>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;h2&gt;Heading 2&lt;/h2&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="h2"&gt;Heading 2&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <h3>Heading 3</h3>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;h3&gt;Heading 3&lt;/h3&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="h3"&gt;Heading 3&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <h4>Heading 4</h4>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;h4&gt;Heading 4&lt;/h4&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="h4"&gt;Heading 4&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <h5>Heading 5</h5>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;h5&gt;Heading 5&lt;/h5&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="h5"&gt;Heading 5&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <h6>Heading 6</h6>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;h6&gt;Heading 6&lt;/h6&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="h6"&gt;Heading 6&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p>Paragraph: Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram. Multa quoque et bello passus, dum conderet urbem, inferretque deos Latio, genus unde Latinum, Albanique patres, atque altae moenia Romae.</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;p&gt;Paragraph: Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram. Multa quoque et bello passus, dum conderet urbem, inferretque deos Latio, genus unde Latinum, Albanique patres, atque altae moenia Romae.&lt;/p&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <blockquote>
                    <p>Blockquote: Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram. Multa quoque et bello passus, dum conderet urbem, inferretque deos Latio, genus unde Latinum, Albanique patres, atque altae moenia Romae. <cite>Publius Vergilius Maro</cite></p>
                </blockquote>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;blockquote&gt;
    &lt;p&gt;Blockquote: Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram.&lt;/p&gt;
    &lt;p&gt;Multa quoque et bello passus, dum conderet urbem, inferretque deos Latio, genus unde Latinum, Albanique patres, atque altae moenia Romae.&lt;/p&gt;
    &lt;cite&gt;Publius Vergilius Maro&lt;/cite&gt;
&lt;/blockquote&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p><small>Small paragraph: Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram. Multa quoque et bello passus, dum conderet urbem, inferretque deos Latio, genus unde Latinum, Albanique patres, atque altae moenia Romae.</small></p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;p&gt;&lt;small&gt;Small paragraph: Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram. Multa quoque et bello passus, dum conderet urbem, inferretque deos Latio, genus unde Latinum, Albanique patres, atque altae moenia Romae.&lt;/small&gt;&lt;/p&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>&lt;p class="small"&gt;Small paragraph: Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram. Multa quoque et bello passus, dum conderet urbem, inferretque deos Latio, genus unde Latinum, Albanique patres, atque altae moenia Romae.&lt;/p&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p><mark>Mark</mark></p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;mark&gt;Mark&lt;/mark&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <hr>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;hr&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p><a href="javascript:void(0);">This is how a link looks like (hover me)</a></p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;a href="#"&gt;This is how a link looks like (hover me)&lt;/a&gt;</code></pre>
            </div>
        </div>
    </div>
</div>
