<div class="u-wrapper d-h2">
    <div class="u-container u-margin-top">
        <p class="u-text-right u-margin-bottom"><a class="has-icon-left" href="https://github.com/a-ui/acpaas_branding_scss"><i class="fa fa-github"></i>View the code on GitHub</a></p>
        <p class="u-text-right u-margin-bottom"><a class="has-icon-left" href="#toc"><i class="fa fa-list-ul"></i>Skip to table of contents</a></p>
        <h2>Getting started</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container u-margin-top d-intro">
        <div class="u-margin-bottom-lg">
            <p>In this styleguide you'll find all the necessary info you will need in order to start building digital layouts or apps for ACPaaS.</p>

            <p class="u-margin-top u-margin-bottom-xs">In its simplest form you can just include the following line in the <code>&lt;head&gt;</code> section of your app.</p>
            <pre class="a-pre a-pre--scrollable"><code>&lt;link rel="stylesheet" href="https://cdn.antwerpen.be/acpaas_branding_scss/{{ VERSION_INFO.version }}/main.min.css"&gt;</code></pre>
            <p class="u-margin-top u-margin-bottom-xs">You can even import it directly in your (S)CSS:</p>
            <pre class="a-pre a-pre--scrollable"><code>@import url("https://cdn.antwerpen.be/acpaas_branding_scss/{{ VERSION_INFO.version }}/main.min.css");</code></pre>
            <div class="m-alert d-alert u-margin-top">
                <p>We adopt semantic versioning. If you want to use another version of the ACPaaS Branding you can do so by adjusting the version in the URL address. See the changelog for all available versions.</p>
            </div>
            <p class="u-margin-top u-margin-bottom-xs">You can also install everything with npm:</p>
            <pre class="a-pre a-pre--scrollable"><code>npm install @a-ui/acpaas --save</code></pre>
            <p class="u-margin-top u-margin-bottom-xs">Then, you can import everything in your Sass setup (<code>main.min.css</code> also available):</p>
            <pre class="a-pre a-pre--scrollable"><code>@import '~@a-ui/acpaas/dist/main.css';</code></pre>
            <p class="u-margin-top u-margin-bottom-xs">In order to extend our style kit you can make use of our Sass variables. Import them like this:</p>
            <pre class="a-pre a-pre--scrollable"><code>@import '~@a-ui/core/dist/assets/styles/_quarks';
@import '~@a-ui/acpaas/dist/assets/styles/_quarks';</code></pre>

            <h2 class="u-margin-top-lg">Other resources</h2>
            <h3 class="h5 has-base-font u-text-bold u-margin-top">Flexboxgrid</h3>
            <p class="u-margin-top-xs u-margin-bottom-xs"><a href="https://github.com/a-ui/core_flexboxgrid_scss" title="a-ui/core_flexboxgrid_scss: Grid optimized to follow the ACPaaS styling guidelines." target="_blank" class="has-icon-right">https://github.com/a-ui/core_flexboxgrid_scss<i class="fa fa-external-link"></i></a></p>
            <p class="u-margin-bottom">Grid optimized to follow the ACPaaS styling guidelines.</p>
        </div>
    </div>
</div>
