<div class="u-wrapper u-margin-top d-h2">
    <div class="u-container">
        <h2>Organisms</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container">
        <a name="organisms-footer" aria-label="Footer"></a>
        <h3 class="u-margin-top-lg">Footer</h3>
        <span class="d-file">organisms/organisms.footer</span>
        <div class="d">
            <div>
                <p>For a visible example of the footer, take a look at the very bottom of this page.</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;footer class="o-footer"&gt;
  &lt;span class="o-footer__label"&gt;© 2019 Digipolis&lt;/span&gt;
  &lt;a href="#" class="o-footer__button a-button a-button--secondary has-icon"&gt;
    &lt;span class="fa fa-arrow-up"&gt;&lt;/span&gt;
  &lt;/a&gt;
&lt;/footer&gt;</code></pre>
            </div>
        </div>

        <a name="organisms-header" aria-label="Header"></a>
        <h3 class="u-margin-top-lg">Header</h3>
        <span class="d-file">organisms/organisms.header</span>
        <div class="d">
            <div>
                <header class="o-header u-margin-bottom-xx" aria-label="Demo header">
                    <a href="#main-content" class="a-button-negative o-header__button o-header__button-skip">Skip to main content</a>
                    <a href="javascript:void(0);" class="o-header__logo">
                        <img src="images/acpaas-logo.svg" alt="Officieel logo ACPaaS">
                    </a>
                </header>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;header class="o-header"&gt;
  &lt;a href="#main-content" class="a-button-negative o-header__button o-header__button-skip"&gt;Skip to main content&lt;/a&gt;
  &lt;a href="#" class="o-header__logo"&gt;
    &lt;img src="images/acpaas-logo.svg" alt="Official logo ACPaaS"&gt;
  &lt;/a&gt;
&lt;/header&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <header class="o-header" aria-label="Demo header with navigation">
                    <div class="o-header__content-wrapper">
                        <div class="o-header__content">
                            <a href="#main-content" class="a-button-negative o-header__button o-header__button-skip">Skip to main content</a>
                            <a href="javascript:void(0);" class="o-header__logo">
                                <img src="images/acpaas-logo.svg" alt="Officieel logo ACPaaS">
                            </a>
                        </div>
                        <div class="o-header__menu-items">
                            <a href="javascript:void(0);" class="a-button-negative o-header__button">Menu button</a>
                        </div>
                    </div>
                </header>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;header class="o-header"&gt;
  &lt;div class="o-header__content-wrapper"&gt;
    &lt;div class="o-header__content"&gt;
      &lt;a href="#main-content" class="a-button-negative o-header__button o-header__button-skip"&gt;Skip to main content&lt;/a&gt;
      &lt;a href="#" class="o-header__logo"&gt;
        &lt;img src="images/acpaas-logo.svg" alt="Officieel logo ACPaaS"&gt;
      &lt;/a&gt;
    &lt;/div&gt;
    &lt;div class="o-header__menu-items"&gt;
      &lt;a href="#" class="a-button-negative o-header__button"&gt;Menu button&lt;/a&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/header&gt;</code></pre>
            </div>
        </div>

        <a name="organisms-navigation-menu" aria-label="Navigation menu"></a>
        <h3 class="u-margin-top-lg">Navigation menu</h3>
        <span class="d-file">aui/aui.navigation-menu</span>
        <div class="d">
            <div>
                <p>
                    Navigation menu that may be used for global navigation on an application.
                    Please not that for optimal mobile layouts, the menu should manually be positioned
                    fixed on the page. For flexibility purposes, this styling is not included in the CSS classes.
                </p>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="o-menu">
                    <div class="o-menu__tabs-wrapper">
                        <div class="o-menu__tab">
                            <div class="o-menu__tab-wrapper">
                                <div class="o-menu__tab-header">
                                    <div class="o-menu__tab-title">
                                        <span class="o-menu__icon o-menu__tab-icon fa fa-bars"></span>
                                        <a class="o-menu__link" href="#organisms-navigation-menu">Link A</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="o-menu__tab is-active">
                            <div class="o-menu__tab-wrapper">
                                <div class="o-menu__tab-header">
                                    <div class="o-menu__tab-title">
                                        <span class="o-menu__icon o-menu__tab-icon fa fa-file"></span>
                                        <a class="o-menu__link" href="#organisms-navigation-menu">Link B</a>
                                    </div>
                                    <span class="o-menu__icon o-menu__submenu-icon fa fa-angle-down"></span>
                                </div>
                                <div class="o-menu__submenu is-active">
                                    <div class="o-menu__submenu-content-wrapper">
                                        <ul class="m-nav-list">
                                            <li><a>First Layer A</a></li>
                                            <li class="is-active">
                                                <a>First Layer B <span
                                                    class="o-menu__icon o-menu__submenu-icon fa fa-angle-down"></span></a>
                                                <div class="o-menu__submenu">
                                                    <div class="o-menu__submenu-content-wrapper">
                                                        <ul class="m-nav-list">
                                                            <li><a>Second Layer A</a></li>
                                                            <li><a>Second Layer B</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="o-menu__tab">
                            <div class="o-menu__tab-wrapper">
                                <div class="o-menu__tab-header">
                                    <div class="o-menu__tab-title">
                                        <span class="o-menu__icon o-menu__tab-icon fa fa-bars"></span>
                                        <a class="o-menu__link" href="#organisms-navigation-menu">Link C</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="o-menu__hide-cta">
                        <a href="#organisms-navigation-menu">Hide Menu <span class="fa fa-angle-double-left"></span></a>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class=&quot;o-menu&quot;&gt;
    &lt;div class=&quot;o-menu__tabs-wrapper&quot;&gt;
        &lt;div class=&quot;o-menu__tab&quot;&gt;
            &lt;div class=&quot;o-menu__tab-wrapper&quot;&gt;
                &lt;div class=&quot;o-menu__tab-header&quot;&gt;
                    &lt;div class=&quot;o-menu__tab-title&quot;&gt;
                        &lt;span class=&quot;o-menu__icon o-menu__tab-icon fa fa-bars&quot;&gt;&lt;/span&gt;
                        &lt;a class=&quot;o-menu__link&quot; href=&quot;#organisms-navigation-menu&quot;&gt;Link A&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;o-menu__tab is-active&quot;&gt;
            &lt;div class=&quot;o-menu__tab-wrapper&quot;&gt;
                &lt;div class=&quot;o-menu__tab-header&quot;&gt;
                    &lt;div class=&quot;o-menu__tab-title&quot;&gt;
                        &lt;span class=&quot;o-menu__icon o-menu__tab-icon fa fa-file&quot;&gt;&lt;/span&gt;
                        &lt;a class=&quot;o-menu__link&quot; href=&quot;#organisms-navigation-menu&quot;&gt;Link B&lt;/a&gt;
                    &lt;/div&gt;
                    &lt;span class=&quot;o-menu__icon o-menu__submenu-icon fa fa-angle-down&quot;&gt;&lt;/span&gt;
                &lt;/div&gt;
                &lt;div class=&quot;o-menu__submenu is-active&quot;&gt;
                    &lt;div class=&quot;o-menu__submenu-content-wrapper&quot;&gt;
                        &lt;ul class=&quot;m-nav-list&quot;&gt;
                            &lt;li&gt;&lt;a&gt;First Layer A&lt;/a&gt;&lt;/li&gt;
                            &lt;li class=&quot;is-active&quot;&gt;
                                &lt;a&gt;First Layer B &lt;span class=&quot;o-menu__icon o-menu__submenu-icon fa fa-angle-down&quot;&gt;&lt;/span&gt;&lt;/a&gt;
                                &lt;div class=&quot;o-menu__submenu&quot;&gt;
                                    &lt;div class=&quot;o-menu__submenu-content-wrapper&quot;&gt;
                                        &lt;ul class=&quot;m-nav-list&quot;&gt;
                                            &lt;li&gt;&lt;a&gt;Second Layer A&lt;/a&gt;&lt;/li&gt;
                                            &lt;li&gt;&lt;a&gt;Second Layer B&lt;/a&gt;&lt;/li&gt;
                                        &lt;/ul&gt;
                                    &lt;/div&gt;
                                &lt;/div&gt;
                            &lt;/li&gt;
                        &lt;/ul&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;o-menu__tab&quot;&gt;
            &lt;div class=&quot;o-menu__tab-wrapper&quot;&gt;
                &lt;div class=&quot;o-menu__tab-header&quot;&gt;
                    &lt;div class=&quot;o-menu__tab-title&quot;&gt;
                        &lt;span class=&quot;o-menu__icon o-menu__tab-icon fa fa-bars&quot;&gt;&lt;/span&gt;
                        &lt;a class=&quot;o-menu__link&quot; href=&quot;#organisms-navigation-menu&quot;&gt;Link C&lt;/a&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;o-menu__hide-cta&quot;&gt;
        &lt;a href=&quot;#organisms-navigation-menu&quot;&gt;Hide Menu &lt;span class=&quot;fa fa-angle-double-left&quot;&gt;&lt;/span&gt;&lt;/a&gt;
    &lt;/div&gt;
&lt;/div&gt;
                </code></pre>
            </div>
        </div>
        <div class="d">
            <div>The Navigation Menu may also be 'docked'. This is achieved by only adding the <code>is-docked</code>
            class to the <code>o-menu</code> element. Docked behaviour is only relevant for desktop layouts.</div>
        </div>
        <div class="d d--with-overlay">
            <div>
                <div class="o-menu is-docked">
                    <div class="o-menu__tabs-wrapper">
                        <div class="o-menu__tab">
                            <div class="o-menu__tab-wrapper">
                                <div class="o-menu__tab-header">
                                    <div class="o-menu__tab-title">
                                        <span class="o-menu__icon o-menu__tab-icon fa fa-bars"></span>
                                        <a class="o-menu__link" href="#organisms-navigation-menu">Link A</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="o-menu__tab is-active">
                            <div class="o-menu__tab-wrapper">
                                <div class="o-menu__tab-header">
                                    <div class="o-menu__tab-title">
                                        <span class="o-menu__icon o-menu__tab-icon fa fa-file"></span>
                                        <a class="o-menu__link" href="#organisms-navigation-menu">Link B</a>
                                    </div>
                                    <span class="o-menu__icon o-menu__submenu-icon fa fa-angle-down"></span>
                                </div>
                                <div class="o-menu__submenu is-active">
                                    <div class="o-menu__submenu-content-wrapper">
                                        <ul class="m-nav-list">
                                            <li><a>First Layer A</a></li>
                                            <li class="is-active">
                                                <a>First Layer B <span
                                                    class="o-menu__icon o-menu__submenu-icon fa fa-angle-down"></span></a>
                                                <div class="o-menu__submenu">
                                                    <div class="o-menu__submenu-content-wrapper">
                                                        <ul class="m-nav-list">
                                                            <li><a>Second Layer A</a></li>
                                                            <li><a>Second Layer B</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="o-menu__tab">
                            <div class="o-menu__tab-wrapper">
                                <div class="o-menu__tab-header">
                                    <div class="o-menu__tab-title">
                                        <span class="o-menu__icon o-menu__tab-icon fa fa-bars"></span>
                                        <a class="o-menu__link" href="#organisms-navigation-menu">Link C</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="o-menu__hide-cta">
                        <a href="#organisms-navigation-menu"><span class="fa fa-angle-double-right"></span></a>
                    </div>
                    <!-- We override the default position on purpose for the demo, we don't want it floating in absolute position -->
                    <div class="o-menu__navigation-pane is-visible" style="position: static">

                        <div class="o-navigation-pane__wrapper u-bg-white">
                            <div class="o-menu__main-submenu">
                                <ul class="m-nav-list m-nav-list--left">
                                    <li><a>one</a></li>
                                    <li><a>Two</a></li>
                                </ul>
                            </div>
                            <div class="o-menu__slide-in-submenu is-visible">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                 <pre class="a-pre a-pre--scrollable"><code>&lt;div class=&quot;o-menu is-docked&quot;&gt;
    &lt;!-- Exactly the same markup as the first example --&gt;
&lt;/div&gt;
                 </code></pre>
            </div>
        </div>
        <!-- Padding for making up for the menu that is positioned absolute -->
        <div class="d">
            <div>
                <p>Additionally, the styling classes include utility classes for creating a panel
                that will overlay the whole page, designed to contain a Navigation list. The use
                is intended for mobile only.</p>
                <p class="u-margin-top">Use the <code>is-visible</code> class on the <code>o-menu__slide-in-submenu</code> to create an animation
                    where the second menu slides from the right over the first menu.</p>
            </div>
            <div>
                 <pre class="a-pre a-pre--scrollable"><code>&lt;div class=&quot;o-menu__navigation-pane is-visible&quot;&gt;
    &lt;div class=&quot;o-navigation-pane__overlay&quot;&gt;&lt;/div&gt;
    &lt;div class=&quot;o-navigation-pane__wrapper&quot;&gt;
        &lt;div class=&quot;o-menu__main-submenu&quot;&gt;&lt;/div&gt;
        &lt;div class=&quot;o-menu__slide-in-submenu is-visible&quot;&gt; &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;

                 </code></pre>
            </div>
        </div>

        <a name="organisms-slideshow" aria-label="Slideshow"></a>
        <h3 class="u-margin-top-lg">Slideshow</h3>
        <h4 class="u-margin-top-lg">Regular slideshow</h4>
        <span class="d-file">organisms/organisms.slideshow</span>
        <div class="d">
            <div>
                <div class="o-slideshow">
                    <div class="o-slideshow__inner">
                        <div class="o-slideshow__prev"></div>
                        <div class="o-slideshow__slides">
                            <figure class="o-slideshow__slide is-active">
                                <div class="o-slideshow__image">
                                    <div class="m-image">
                                        <img src="https://placeimg.com/1000/500/tech" alt="slideshow image 1">
                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign"><span class="fa fa-copyright"></span></div>
                                            <span class="a-copyright__label">Lorem Pixel</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="o-slideshow__slide">
                                <div class="o-slideshow__image">
                                    <div class="m-image">
                                        <img src="https://placeimg.com/1000/500/tech" alt="slideshow image 2">
                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign"><span class="fa fa-copyright"></span></div>
                                            <span class="a-copyright__label">Lorem Pixel</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                            <figure class="o-slideshow__slide">
                                <div class="o-slideshow__image">
                                    <div class="m-image">
                                        <img src="https://placeimg.com/1000/500/tech" alt="slideshow image 3">
                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                            <div class="a-copyright__sign"><span class="fa fa-copyright"></span></div>
                                            <span class="a-copyright__label">Lorem Pixel</span>
                                        </div>
                                    </div>
                                </div>
                            </figure>
                        </div>
                        <div class="o-slideshow__next"></div>
                    </div>
                    <figcaption class="o-slideshow__footer">
                        <span class="o-slideshow__counter">1 | 3</span>
                        Some fancy caption about this photo
                    </figcaption>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="o-slideshow"&gt;
  &lt;div class="o-slideshow__inner"&gt;
    &lt;div class="o-slideshow__prev"&gt;&lt;/div&gt;
    &lt;div class="o-slideshow__slides"&gt;
      &lt;figure class="o-slideshow__slide is-active"&gt;
        &lt;div class="o-slideshow__image"&gt;
          &lt;div class="m-image"&gt;
            &lt;img src="https://placeimg.com/1000/500/tech" alt="slideshow image 1"&gt;
            &lt;div class="m-image__copyright a-copyright" aria-haspopup="true"&gt;
              &lt;div class="a-copyright__sign"&gt;&lt;span class="fa fa-copyright"&gt;&lt;/span&gt;&lt;/div&gt;
              &lt;span class="a-copyright__label"&gt;Lorem Pixel&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/figure&gt;
      &lt;figure class="o-slideshow__slide"&gt;
        &lt;div class="o-slideshow__image"&gt;
          &lt;div class="m-image"&gt;
            &lt;img src="https://placeimg.com/1000/500/tech" alt="slideshow image 2"&gt;
            &lt;div class="m-image__copyright a-copyright" aria-haspopup="true"&gt;
              &lt;div class="a-copyright__sign"&gt;&lt;span class="fa fa-copyright"&gt;&lt;/span&gt;&lt;/div&gt;
              &lt;span class="a-copyright__label"&gt;Lorem Pixel&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/figure&gt;
      &lt;figure class="o-slideshow__slide"&gt;
        &lt;div class="o-slideshow__image"&gt;
          &lt;div class="m-image"&gt;
            &lt;img src="https://placeimg.com/1000/500/tech" alt="slideshow image 3"&gt;
            &lt;div class="m-image__copyright a-copyright" aria-haspopup="true"&gt;
              &lt;div class="a-copyright__sign"&gt;&lt;span class="fa fa-copyright"&gt;&lt;/span&gt;&lt;/div&gt;
              &lt;span class="a-copyright__label"&gt;Lorem Pixel&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/figure&gt;
    &lt;/div&gt;
    &lt;div class="o-slideshow__next"&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;figcaption class="o-slideshow__footer"&gt;
    &lt;span class="o-slideshow__counter"&gt;1 | 3&lt;/span&gt;
    Some fancy caption about this photo
  &lt;/figcaption&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>

        <h4 class="u-margin-top-lg">Slideshow overlay</h4>
        <div class="d">
            <div>
                <div class="a-input u-margin-bottom-lg d-overlay">
                    <div class="a-switch">
                        <label class="a-switch__label">Hide slideshow overlay</label>
                        <div class="a-switch__toggle">
                            <input type="checkbox" name="input-slideshow" id="input-slideshow" role="switch" aria-checked="false">
                            <label for="input-slideshow"><span class="u-screen-reader-only">Toggle overlay</span></label>
                            <div class="m-overlay">
                                <label for="input-slideshow"><a class="m-overlay__button"><span class="fa fa-close"><span class="u-screen-reader-only">Close overlay</span></span></a></label>
                                <div class="m-overlay__slideshow o-slideshow o-slideshow--transparent">
                                    <div class="o-slideshow__inner">
                                        <div class="o-slideshow__prev o-slideshow__prev--outside"></div>
                                        <div class="o-slideshow__slides">
                                            <figure class="o-slideshow__slide is-active">
                                                <div class="o-slideshow__image">
                                                    <div class="m-image">
                                                        <img src="https://placeimg.com/1900/950/tech" alt="slideshow image 1">
                                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                                            <div class="a-copyright__sign"><span class="fa fa-copyright"></span></div>
                                                            <span class="a-copyright__label">Lorem Pixel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                            <figure class="o-slideshow__slide">
                                                <div class="o-slideshow__image">
                                                    <div class="m-image">
                                                        <img src="https://placeimg.com/1000/500/tech" alt="slideshow image 2">
                                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                                            <div class="a-copyright__sign"><span class="fa fa-copyright"></span></div>
                                                            <span class="a-copyright__label">Lorem Pixel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                            <figure class="o-slideshow__slide">
                                                <div class="o-slideshow__image">
                                                    <div class="m-image">
                                                        <img src="https://placeimg.com/1000/500/tech" alt="slideshow image 3">
                                                        <div class="m-image__copyright a-copyright" aria-haspopup="true">
                                                            <div class="a-copyright__sign"><span class="fa fa-copyright"></span></div>
                                                            <span class="a-copyright__label">Lorem Pixel</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                        </div>
                                        <div class="o-slideshow__next o-slideshow__next--outside"></div>
                                    </div>
                                    <figcaption class="o-slideshow__footer">
                                        <span class="o-slideshow__counter">1 | 3</span>
                                        Some fancy caption about this photo. Click the "X" in the top right corner to close the slideshow.
                                    </figcaption>
                                </div>
                            </div>
                        </div>
                        <label class="a-switch__label">Show slideshow overlay</label>
                    </div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="m-overlay"&gt;
  &lt;label for="input-slideshow"&gt;&lt;a class="m-overlay__button"&gt;&lt;span class="fa fa-close"&gt;&lt;span class="u-screen-reader-only"&gt;Close overlay&lt;/span&gt;&lt;/span&gt;&lt;/a&gt;&lt;/label&gt;
  &lt;div class="m-overlay__slideshow o-slideshow o-slideshow--transparent"&gt;
    &lt;div class="o-slideshow__inner"&gt;
      &lt;div class="o-slideshow__prev o-slideshow__prev--outside"&gt;&lt;/div&gt;
      &lt;div class="o-slideshow__slides"&gt;
        &lt;figure class="o-slideshow__slide is-active"&gt;
          &lt;div class="o-slideshow__image"&gt;
            &lt;div class="m-image"&gt;
              &lt;img src="https://placeimg.com/1000/500/tech" alt="slideshow image 1"&gt;
              &lt;div class="m-image__copyright a-copyright" aria-haspopup="true"&gt;
                &lt;div class="a-copyright__sign"&gt;&lt;span class="fa fa-copyright"&gt;&lt;/span&gt;&lt;/div&gt;
                &lt;span class="a-copyright__label"&gt;Lorem Pixel&lt;/span&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/figure&gt;
        &lt;figure class="o-slideshow__slide"&gt;
          &lt;div class="o-slideshow__image"&gt;
            &lt;div class="m-image"&gt;
              &lt;img src="https://placeimg.com/1000/500/tech" alt="slideshow image 2"&gt;
              &lt;div class="m-image__copyright a-copyright" aria-haspopup="true"&gt;
                &lt;div class="a-copyright__sign"&gt;&lt;span class="fa fa-copyright"&gt;&lt;/span&gt;&lt;/div&gt;
                &lt;span class="a-copyright__label"&gt;Lorem Pixel&lt;/span&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/figure&gt;
        &lt;figure class="o-slideshow__slide"&gt;
          &lt;div class="o-slideshow__image"&gt;
            &lt;div class="m-image"&gt;
              &lt;img src="https://placeimg.com/1000/500/tech" alt="slideshow image 3"&gt;
              &lt;div class="m-image__copyright a-copyright" aria-haspopup="true"&gt;
                &lt;div class="a-copyright__sign"&gt;&lt;span class="fa fa-copyright"&gt;&lt;/span&gt;&lt;/div&gt;
                &lt;span class="a-copyright__label"&gt;Lorem Pixel&lt;/span&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/figure&gt;
      &lt;/div&gt;
      &lt;div class="o-slideshow__next o-slideshow__next--outside"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;figcaption class="o-slideshow__footer"&gt;
      &lt;span class="o-slideshow__counter"&gt;1 | 3&lt;/span&gt;
      Some fancy caption about this photo
    &lt;/figcaption&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>

        <a name="organisms-tag-list" aria-label="Tag list"></a>
        <h3 class="u-margin-top-lg">Tag list</h3>
        <span class="d-file">organisms/organisms.tag-list</span>
        <div class="d">
            <div>
                <ul class="o-tag-list">
                    <li class="m-tag">
                        <span class="m-tag__label">Thomas Edison</span>
                    </li>
                    <li class="m-tag">
                        <span class="m-tag__label">Leonardo da Vinci</span>
                    </li>
                    <li class="m-tag">
                        <span class="m-tag__label">Albert Einstein</span>
                    </li>
                </ul>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;ul class="o-tag-list"&gt;
  &lt;li class="m-tag"&gt;&lt;span class="m-tag__label"&gt;Thomas Edison&lt;/span&gt;&lt;/li&gt;
  &lt;li class="m-tag"&gt;&lt;span class="m-tag__label"&gt;Leonardo da Vinci&lt;/span&gt;&lt;/li&gt;
  &lt;li class="m-tag"&gt;&lt;span class="m-tag__label"&gt;Albert Einstein&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;ul class="o-tag-list"&gt;
  &lt;li class="m-tag"&gt;&lt;span class="m-tag__label"&gt;Thomas Edison&lt;/span&gt;&lt;/li&gt;
  &lt;li class="m-tag"&gt;&lt;span class="m-tag__label"&gt;Leonardo da Vinci&lt;/span&gt;&lt;/li&gt;
  &lt;li class="m-tag"&gt;&lt;span class="m-tag__label"&gt;Albert Einstein&lt;/span&gt;&lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <ul class="o-tag-list">
                    <li class="m-tag">
                        <span class="m-tag__label">Thomas Edison</span>
                        <button class="a-button-transparent a-button--small a-button--danger has-icon" aria-label="Delete"><span class="fa fa-close"></span></button>
                    </li>
                    <li class="m-tag">
                        <span class="m-tag__label">Leonardo da Vinci</span>
                        <button class="a-button-transparent a-button--small a-button--danger has-icon" aria-label="Delete"><span class="fa fa-close"></span></button>
                    </li>
                    <li class="m-tag">
                        <span class="m-tag__label">Albert Einstein</span>
                        <button class="a-button-transparent a-button--small a-button--danger has-icon" aria-label="Delete"><span class="fa fa-close"></span></button>
                    </li>
                </ul>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;ul class="o-tag-list"&gt;
  &lt;li class="m-tag"&gt;
    &lt;span class="m-tag__label"&gt;Thomas Edison&lt;/span&gt;
    &lt;button class="a-button-transparent a-button--small a-button--danger has-icon" aria-label="Delete"&gt;&lt;span class="fa fa-close"&gt;&lt;/span&gt;&lt;/button&gt;
  &lt;/li&gt;
  &lt;li class="m-tag"&gt;
    &lt;span class="m-tag__label"&gt;Leonardo da Vinci&lt;/span&gt;
    &lt;button class="a-button-transparent a-button--small a-button--danger has-icon" aria-label="Delete"&gt;&lt;span class="fa fa-close"&gt;&lt;/span&gt;&lt;/button&gt;
  &lt;/li&gt;
  &lt;li class="m-tag"&gt;
    &lt;span class="m-tag__label"&gt;Albert Einstein&lt;/span&gt;
    &lt;button class="a-button-transparent a-button--small a-button--danger has-icon" aria-label="Delete"&gt;&lt;span class="fa fa-close"&gt;&lt;/span&gt;&lt;/button&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <ul class="o-tag-list">
                    <li class="m-tag">
                        <button class="a-button a-button--default a-button--small has-icon" aria-label="Accept"><span class="fa fa-check"></span></button>
                        <span class="m-tag__label">Thomas Edison</span>
                    </li>
                    <li class="m-tag">
                        <button class="a-button a-button--success a-button--small has-icon" aria-label="Accept"><span class="fa fa-check"></span></button>
                        <span class="m-tag__label">Leonardo da Vinci</span>
                    </li>
                    <li class="m-tag">
                        <button class="a-button a-button a-button--small has-icon" aria-label="Drag"><span class="fa fa-arrows"></span></button>
                        <span class="m-tag__label">Albert Einstein</span>
                    </li>
                </ul>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;ul class="o-tag-list"&gt;
  &lt;li class="m-tag"&gt;
    &lt;button class="a-button a-button--default a-button--small has-icon" aria-label="Accept"&gt;&lt;span class="fa fa-check"&gt;&lt;/span&gt;&lt;/button&gt;
    &lt;span class="m-tag__label"&gt;Thomas Edison&lt;/span&gt;
  &lt;/li&gt;
  &lt;li class="m-tag"&gt;
    &lt;button class="a-button a-button--success a-button--small has-icon" aria-label="Accept"&gt;&lt;span class="fa fa-check"&gt;&lt;/span&gt;&lt;/button&gt;
    &lt;span class="m-tag__label"&gt;Leonardo da Vinci&lt;/span&gt;
  &lt;/li&gt;
  &lt;li class="m-tag"&gt;
    &lt;button class="a-button a-button a-button--small has-icon" aria-label="Drag"&gt;&lt;span class="fa fa-arrows"&gt;&lt;/span&gt;&lt;/button&gt;
    &lt;span class="m-tag__label"&gt;Albert Einstein&lt;/span&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
            </div>
        </div>
    </div>
</div>
