<a name="quarks" aria-label="Quarks"></a>
<div class="u-wrapper u-margin-top d-h2">
    <div class="u-container">
        <h2>Quarks</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container">
        <div class="d">
            <div>
                <p>You can treat this part of the package as the API of our styling library. Include it on top of your custom stylesheet in order to have access to all defined variables, mixins and functions.</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">@import 'quarks';</code></pre>
            </div>
        </div>



        <a name="quarks-mixins" aria-label="Mixins"></a>
        <h3 class="u-margin-top-lg">Mixins</h3>
        <span class="d-file">quarks/quarks.mixins</span>
        <div class="d">
            <div>
                <p>More mixins are available, but the following are the more important ones.</p>
            </div>
        </div>
        <div class="d">
            <div>
                <p>Force an element to self-clear its children</p>
                <div class="m-alert d-alert">
                    <p>Note that you can also use the <code>.clearfix</code> class.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  @include clearfix;
}</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p>Use FontAwesome as font</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  @include fontawesome;
}</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p>Responsive mixins</p>
                <div class="m-alert d-alert">
                    <p>Note that working mobile first is encouraged, so try to limit the use of the <code>to</code> mixin.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  @include at($screen) {
    /* Anything bigger than $screen */
  }

  @include to($screen-xs-max) {
    /* Anything smaller or equal than $screen */
  }
}</code></pre>
            </div>
        </div>



        <a name="quarks-functions" aria-label="Functions"></a>
        <h3 class="u-margin-top-lg">Functions</h3>
        <span class="d-file">quarks/quarks.functions</span>
        <div class="d">
            <div>
                <p>More functions are available, but the following are the more important ones.</p>
            </div>
        </div>
        <!--<div class="d">
            <div>
                <p>Strip unit from value</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  margin: strip-unit(32px) / 16 * 1rem // margin: 2rem;
}</code></pre>
            </div>
        </div>-->
        <div class="d">
            <div>
                <p>Convert pixels to rem</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  margin: rem(32px) / 16 * 1rem // margin: 2rem;
}</code></pre>
            </div>
        </div>
        <!--<div class="d">
            <div>
                <p>Raise number to certain power</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  font-size: power($font-size-ratio, 6) // font-size: 48px;
}</code></pre>
            </div>
        </div>-->
        <div class="d">
            <div>
                <p>Correctly handle z-indexes</p>
                <div class="m-alert m-alert d-alert">
                    <p>For all options, see below <a href="#quarks-variables">in the variables section</a>.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code class="scss">.css {
  z-index: layer('base'); // z-index: 1;
}</code></pre>
            </div>
        </div>



        <a name="quarks-colors" aria-label="Colors"></a>
        <h3 class="u-margin-top-lg">Colors</h3>
        <span class="d-file">quarks/quarks.colors</span>
        <div class="d">
            <div>
                <p>An overview of the complete color palette.</p>
                <ul class="a-list--unstyled d-list d-list__colors">
                    {% for name, value  in COLORS %}
                        <li class="d-{{ name | escape }}">
                            <span class="d-color" style="background: {{ value }}" aria-hidden="true"></span>
                            <code>${{ name }}</code><br /><span>{{ value }}</span></small>
                        </li>
                    {% endfor %}
                    <li class="d-instagram">
                        <span class="d-color" style="background: radial-gradient(circle farthest-corner at 32% 106%, #ffe17d 0%, #ffcd69 10%, #fa9137 28%, #eb4141 42%, transparent 82%), linear-gradient(135deg, #234bd7 12%, #c33cbe 58%)" aria-hidden="true"></span>
                            <code>$instagram</code><br /><span class="u-text-light">inspect me</span></small>
                    </li>
                </ul>
            </div>
        </div>



        <a name="quarks-variables" aria-label="Variables"></a>
        <h3 class="u-margin-top-lg">Variables</h3>
        <span class="d-file">quarks/quarks.variables</span>
        <div class="d">
            <div>
                <p>An overview of all variables and their default values. If you are using Sass, you can overwrite these values for creating your own flavor of the branding kit.</p>
                <ul class="a-list--unstyled d-list d-list__variables">
                    {% for name, value in VARIABLES %}
                        <li class="d-{{ name | escape }}">
                            <code>${{ name }}</code>: {{ value }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
