<div class="u-wrapper d-h2">
    <div class="u-container">
        <h2>Utilities</h2>
    </div>
</div>
<div class="u-wrapper">
    <div class="u-container">
        <a name="utilitites-background"></a>
        <h3 class="d-h3">Background</h3>
        <span class="d-file">utilities/utilities.background</span>
        <div class="d">
            <div>
                <p>Classes that allow you to quickly change the background color of an element.</p>
            </div>
        </div>
        {% for value in BGUTILITIES %}
        <div class="d">
            <div>
                <div class="{{value}} d-{{value}} d-bgutility"><code>.{{value}}</code></div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="{{value}}"&gt;.{{value}}&lt;/div&gt;</code></pre>
            </div>
        </div>
        {% endfor %}

        <a name="utilitites-layout"></a>
        <h3 class="d-h3">Layout</h3>
        <span class="d-file">utilities/utilities.layout</span>
        <div class="d">
            <div>
                <p>The <code>.u-wrapper</code> class makes sure that all content can flow next to the "Antwerp" logo (above 30rem). It does not provide extra padding for smaller screens.</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="u-wrapper"&gt;
  ...
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p>The <code>.u-container</code> class makes sure that all content stays centered. It provides extra padding for smaller screens so that your content doesn't stick to the boundaries of your screen.</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="u-container"&gt;
  ...
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <div class="m-alert d-alert">
                    <p>Note that <code>.u-wrapper</code> and <code>.u-container</code> can work perfectly together as illustrated in the example.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="u-wrapper"&gt;
  &lt;div class="u-container"&gt;
    ...
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p>The <code>.u-no-overflow</code> class will clip content when an element's content is too big to fit in the given area.</p>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="u-no-overflow"&gt;
  ...
&lt;/div&gt;</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p>The <code>.u-clearfix</code> class will force an element to self-clear its children.</p>
                <div class="m-alert d-alert">
                    <p>Note that you can also use the <code>clearfix</code> mixin.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="u-clearfix"&gt;
  ...
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>.css {
  @include clearfix;
}</code></pre>
            </div>
        </div>
        <div class="d">
            <div>
                <p><code>.u-screen-reader-only</code> is an accessiblity class and can be used to hide information intended only for screen readers.</p>
                <div class="m-alert d-alert">
                    <p>Note that we offer this also as a Sass placeholder, so you can <code>@extend</code> it in your own class.</p>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="u-screen-reader-only"&gt;
  ...
&lt;/div&gt;</code></pre>
                <pre class="a-pre a-pre--scrollable"><code>.css {
  @extend %u-screen-reader-only;
}</code></pre>
            </div>
        </div>

        <a name="utilitites-spacing"></a>
        <h3 class="d-h3">Spacing</h3>
        <span class="d-file">utilities/utilities.spacing</span>
        <div class="d">
            <div>
                <p>Helper classes for adding or removing space between elements.</p>
            </div>
        </div>
        {% for value in SPACINGUTILITIES %}
        <div class="d">
            <div>
                <div class="d-spacingutility">
                    <div class="{{value}} d-{{value}}"><code>.{{value}}</code></div>
                </div>
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;div class="{{value}}"&gt;.{{value}}&lt;/div&gt;</code></pre>
            </div>
        </div>
        {% endfor %}

        <a name="utilitites-text"></a>
        <h3 class="d-h3">Text</h3>
        <span class="d-file">utilities/utilities.text</span>
        <div class="d">
            <div>
                <p>Helper classes for changing the appearance of text.</p>
            </div>
        </div>
        {% for value in TEXTUTILITIES %}
        <div class="d">
            <div>
                <div class="d-textutility d-{{value}}">
                    <p class="{{value}}">Arma virumque cano, Troiae qui primus ab oris Italiam, fato profugus, Laviniaque venit litora, multum ille et terris iactatus et alto vi superum saevae memorem Iunonis ob iram.</p>
                </div>
                {% if value == 'u-text-truncate' %}
                <div class="m-alert d-alert">
                    <p>Note that we offer this also as a Sass placeholder, so you can <code>@extend</code> it in your own class.</p>
                </div>
                {% elseif value == 'u-text-xlight' %}
                <div class="m-alert d-alert">
                    <p>Note that the grey background color is for displaying purposes only.</p>
                </div>
                {% endif %}
            </div>
            <div>
                <pre class="a-pre a-pre--scrollable"><code>&lt;p class="{{value}}"&gt;.{{value}}&lt;/p&gt;</code></pre>
                {% if value == 'u-text-truncate' %}
                <pre class="a-pre a-pre--scrollable"><code>.css {
  @extend %u-text-truncate;
}</code></pre>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
