/**
 * BACKGROUND COLOR CLASSES
 * -------------------------------------------------------------------
 */

.u-bg {
  background-color: $background-color;
}

.u-bg-light {
  background-color: $background-color-light;
}

.u-bg-primary {
  background-color: $brand-primary;
}

.u-bg-secondary {
  background-color: $brand-secondary;
}

.u-bg-tertiary {
  background-color: $brand-tertiary;
}

.u-bg-quaternary {
  background-color: $brand-quaternary;
}

.u-bg-quinary {
  background-color: $brand-quinary;
}

.u-bg-senary {
  background-color: $brand-senary;
}

.u-bg-success {
  background-color: $state-success;
}

.u-bg-warning {
  background-color: $state-warning;
}

.u-bg-danger {
  background-color: $state-danger;
}

.u-bg-white {
  background-color: $white;
}

.u-bg-black {
  background-color: $black;
}
