/**
 * TEXT HELPERS
 * -------------------------------------------------------------------
 */


/**
 * TEXT STYLE CLASSES
 * -------------------------------------------------------------------
 */

.u-text-bold {
  font-weight: $bold;
}

.u-text-italic {
  font-style: italic;
}

.u-text-underline {
  text-decoration: underline;
}


/**
 * TEXT ALIGNMENT CLASSES
 * -------------------------------------------------------------------
 */

.u-text-left {
  text-align: left;
}

.u-text-center {
  text-align: center;
}

.u-text-right {
  text-align: right;
}

.u-text-justify {
  text-align: justify;
}


/**
 * TEXT TRANSFORMATION CLASSES
 * -------------------------------------------------------------------
 */

.u-text-lowercase {
  text-transform: lowercase;
}

.u-text-uppercase {
  text-transform: uppercase;
}

.u-text-capitalize {
  text-transform: capitalize;
}


/**
 * TEXT COLOR CLASSES
 * -------------------------------------------------------------------
 */

.u-text-primary {
  color: $brand-primary;
}

.u-text-secondary {
  color: $brand-secondary;
}

.u-text-tertiary {
  color: $brand-tertiary;
}

.u-text-quaternary {
  color: $brand-quaternary;
}

.u-text-quinary {
  color: $brand-quinary;
}

.u-text-senary {
  color: $brand-senary;
}

.u-text-success {
  color: $state-success;
}

.u-text-warning {
  color: $state-warning;
}

.u-text-danger {
  color: $state-danger;
}

.u-text-light {
  color: $text-color-light;
}

.u-text-xlight {
  color: $text-color-xlight;
}


/**
 * TEXT OVERFLOW CLASSES
 * -------------------------------------------------------------------
 */

%u-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.u-text-truncate {
  @extend %u-text-truncate;
}


/**
 * TEXT ACCESSIBILITY CLASSES
 * -------------------------------------------------------------------
 */

.u-text-readable {
  max-width: $readable-content-width;
}
