@charset 'utf-8';


/**
 * ORGANISMS
 * -------------------------------------------------------------------
 */

@import '@a-ui/core/dist/assets/styles/organisms/organisms.article';
@import '@a-ui/core/dist/assets/styles/organisms/organisms.footer';
@import 'organisms/organisms.header';
@import '@a-ui/core/dist/assets/styles/organisms/organisms.slideshow';
@import '@a-ui/core/dist/assets/styles/organisms/organisms.tag-list';
