@charset 'utf-8';

/**
 * CORE BRANDING API
 * -------------------------------------------------------------------
 */

@import 'quarks';


/**
 * CUSTOM STYLING FOR STYLEGUIDE
 * -------------------------------------------------------------------
 */

footer {
  margin-top: $spacer * 4;
}

.a-pre {
  margin: 0;

  + .a-pre {
    margin-top: $spacer / 4;
  }
}

.d {
  display: flex;
  flex-direction: column;
  margin: $spacer $spacer * -1;

  @include at($screen-sm) {
    flex-direction: row;
  }

  > div {
    flex: 1 1 0;
    padding: $spacer / 4 $spacer 0;

    @include at($screen-sm) {
      width: 0;
    }
  }
}

.d-h1 {
  background: $brand-primary;
  background-size: 400% 100%;
  color: $white;
  margin-bottom: $spacer * -4;
  padding-bottom: $spacer;
  padding-top: $spacer * 2;

  @include to($screen-xs) {
    padding-top: $spacer * 4;
  }

  small {
    color: $white;
  }
}

.d-h2 {
  // background: $sun;
  background: $black;
  color: $white;
  margin-bottom: $spacer * 2;
  margin-top: $spacer * 4;
  padding-bottom: $spacer / 2;
  padding-top: $spacer;
}

.d-h3 {
  margin-top: $spacer * 4;
  position: relative;

  &:before {
    background: $black;
    content: '';
    display: block;
    height: $spacer * 3 / 2;
    left: $spacer * -2;
    position: absolute;
    width: $spacer * 3 / 2;
  }
}

.d-h4 {
  margin-top: $spacer * 2;
}

.d-file {
  color: $grey;
}

.d-alert {
  margin-top: $spacer / 2;
  padding: $spacer / 2;
}

.d-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: $spacer * -1;
  margin-right: $spacer * -1;

  > li {
    padding: 0 $spacer;
    width: 100%;

    @include at($screen-sm) {
      width: 50%;
    }
  }

  &__colors {
    > li {
      margin-top: $spacer / 2;
      padding: $spacer / 2 $spacer $spacer / 2 $spacer * 6;
      position: relative;

      &.d-white {
        .d-color {
          box-shadow: 0 0 0 1px $grey-light inset;
        }
      }

      .d-color {
        bottom: 0;
        display: block;
        left: $spacer;
        position: absolute;
        top: 0;
        width: $spacer * 4;
      }

      @include at($screen-lg) {
        width: 100 / 3 * 1%;
      }
    }
  }

  &__variables {
    > li {
      margin-top: $spacer / 4;

      @include at($screen-lg) {
        width: 100 / 3 * 1%;
      }
    }
  }
}

.d-font {
  font-size: 1.5em;

  &-lg {
    font-size: 3em;
  }
}

.d-bgutility {
  padding: $spacer;

  &.d-u-bg-white {
    box-shadow: 0 0 0 1px $grey-light inset;
  }
}

.d-spacingutility {
  box-shadow: 0 0 0 1px $grey-light inset;
  display: inline-block;
  padding: 3px 1px;
}

.d-textutility {
  &.d-u-text-xlight {
    background: $grey-light;
    padding: $spacer / 4;
  }
}

.d-button {
  margin-bottom: $spacer / 6; // Improves the 'flow' of multiple consecutive buttons
}

.d-tooltip {
  margin-bottom: $spacer / 2; // Improves the 'flow' of multiple consecutive tooltips
}

.d-datepicker {
  margin-bottom: 24rem;
}

.d-flyout {
  margin-bottom: 12rem;

  &--sm {
    margin-bottom: 14rem;
  }

  &--md {
    margin-bottom: 14rem;

    @include at($screen-sm) {
      margin-bottom: 9rem;
    }
  }

  &--lg {
    margin-bottom: 14rem;

    @include at($screen-sm) {
      margin-bottom: 9rem;
    }

    @include at($screen-md) {
      margin-bottom: 8rem;
    }
  }

  &--full {
    margin-bottom: 7rem;
  }

  &--no-padding {
    margin-bottom: 3rem;
  }
}

.d-icon-list {
  padding: $spacer;
}

.d-nav-list {
  margin-bottom: $spacer * 2;
}

.d-pagination {
  margin-bottom: $spacer;
}

.d-fix-top {
  margin-top: $spacer * 2;

  &-sm {
    margin-top: $spacer;
  }
}

.d-overlay {
  margin-bottom: $spacer * 2;
}

.d-overlay input:checked ~ .m-overlay {
  align-items: center;
  display: flex;
  justify-content: center;

  label {
    box-shadow: none;
    height: auto;
    position: static;
    width: auto;

    @include to($screen-xs) {
      margin-bottom: $spacer / 2;
    }

    &:after {
      content: none;
    }
  }

  .m-modal__footer [class*='a-button'] {
    margin-bottom: 0;
  }
}

@keyframes rainbow {
  0%{background-position:0% 0%}
  50%{background-position:46.25% 0%}
  100%{background-position:92.5% 0%}
}
