/**
 * VARIABLE OVERRIDES
 * -------------------------------------------------------------------
 */

// Overrides
$font-family-base: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-headings: 'Titillium Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Courier New', monospace;
$brand-primary: #242d9e;
$brand-secondary: #322a56;
$brand-tertiary: #01afb8;
$brand-quaternary: #1730e2;
$brand-quinary: #8e87fc;
$brand-senary: #e24814;
$state-success: #009882;
$state-warning: #f18a00;
$state-danger: #da291c;
$header-bg: $brand-secondary;
$header-border: rgba($black, 0);
$header-height: calc(3rem + 1px);
$icon-list-hover-color: $brand-primary;
