// -------------------------------------------------------------------
// :: ICON FONT
// -------------------------------------------------------------------
// Created with the 'gulp iconfont'-task, the source-template
// of this file can be found in fonts/icon-sources/_template.scss

@include font-face('Antwerpen_Icons', '../../fonts/Antwerpen_Icons');

%icon-template {
  -moz-osx-font-smoothing: grayscale; // sass-lint:disable-line no-vendor-prefixes
  -webkit-font-smoothing: antialiased; // sass-lint:disable-line no-vendor-prefixes
  font-family: 'Antwerpen_Icons';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: inherit;
  speak: none;
  text-transform: none;
  vertical-align: middle;
}


// -------------------------------------------------------------------
// :: CLASSES
// -------------------------------------------------------------------
// Note: Use single quotes ('') for content in pseudo-selectors
// as double quotes ("") are not supported in <IE9

%icon-a-card {
  @extend %icon-template;
  content: '\EA01';
}

.icon-a-card:before {
  @extend %icon-a-card;
}

%icon-akaart-outline {
  @extend %icon-template;
  content: '\EA02';
}

.icon-akaart-outline:before {
  @extend %icon-akaart-outline;
}

%icon-akaart-zuilen {
  @extend %icon-template;
  content: '\EA03';
}

.icon-akaart-zuilen:before {
  @extend %icon-akaart-zuilen;
}

%icon-antwerp {
  @extend %icon-template;
  content: '\EA04';
}

.icon-antwerp:before {
  @extend %icon-antwerp;
}

%icon-calendar {
  @extend %icon-template;
  content: '\EA05';
}

.icon-calendar:before {
  @extend %icon-calendar;
}

%icon-career {
  @extend %icon-template;
  content: '\EA06';
}

.icon-career:before {
  @extend %icon-career;
}

%icon-channels {
  @extend %icon-template;
  content: '\EA07';
}

.icon-channels:before {
  @extend %icon-channels;
}

%icon-communication {
  @extend %icon-template;
  content: '\EA08';
}

.icon-communication:before {
  @extend %icon-communication;
}

%icon-contact {
  @extend %icon-template;
  content: '\EA09';
}

.icon-contact:before {
  @extend %icon-contact;
}

%icon-contactbook {
  @extend %icon-template;
  content: '\EA0A';
}

.icon-contactbook:before {
  @extend %icon-contactbook;
}

%icon-culture {
  @extend %icon-template;
  content: '\EA0B';
}

.icon-culture:before {
  @extend %icon-culture;
}

%icon-digital-work {
  @extend %icon-template;
  content: '\EA0C';
}

.icon-digital-work:before {
  @extend %icon-digital-work;
}

%icon-districts {
  @extend %icon-template;
  content: '\EA0D';
}

.icon-districts:before {
  @extend %icon-districts;
}

%icon-diversity {
  @extend %icon-template;
  content: '\EA0E';
}

.icon-diversity:before {
  @extend %icon-diversity;
}

%icon-education {
  @extend %icon-template;
  content: '\EA0F';
}

.icon-education:before {
  @extend %icon-education;
}

%icon-ewindow-small {
  @extend %icon-template;
  content: '\EA10';
}

.icon-ewindow-small:before {
  @extend %icon-ewindow-small;
}

%icon-ewindow {
  @extend %icon-template;
  content: '\EA11';
}

.icon-ewindow:before {
  @extend %icon-ewindow;
}

%icon-finance {
  @extend %icon-template;
  content: '\EA12';
}

.icon-finance:before {
  @extend %icon-finance;
}

%icon-folder {
  @extend %icon-template;
  content: '\EA13';
}

.icon-folder:before {
  @extend %icon-folder;
}

%icon-helpcenter {
  @extend %icon-template;
  content: '\EA14';
}

.icon-helpcenter:before {
  @extend %icon-helpcenter;
}

%icon-ict {
  @extend %icon-template;
  content: '\EA15';
}

.icon-ict:before {
  @extend %icon-ict;
}

%icon-jobs {
  @extend %icon-template;
  content: '\EA16';
}

.icon-jobs:before {
  @extend %icon-jobs;
}

%icon-leisure {
  @extend %icon-template;
  content: '\EA17';
}

.icon-leisure:before {
  @extend %icon-leisure;
}

%icon-link {
  @extend %icon-template;
  content: '\EA18';
}

.icon-link:before {
  @extend %icon-link;
}

%icon-map-small {
  @extend %icon-template;
  content: '\EA19';
}

.icon-map-small:before {
  @extend %icon-map-small;
}

%icon-map {
  @extend %icon-template;
  content: '\EA1A';
}

.icon-map:before {
  @extend %icon-map;
}

%icon-media {
  @extend %icon-template;
  content: '\EA1B';
}

.icon-media:before {
  @extend %icon-media;
}

%icon-mobility {
  @extend %icon-template;
  content: '\EA1C';
}

.icon-mobility:before {
  @extend %icon-mobility;
}

%icon-my-time {
  @extend %icon-template;
  content: '\EA1D';
}

.icon-my-time:before {
  @extend %icon-my-time;
}

%icon-news-small {
  @extend %icon-template;
  content: '\EA1E';
}

.icon-news-small:before {
  @extend %icon-news-small;
}

%icon-news {
  @extend %icon-template;
  content: '\EA1F';
}

.icon-news:before {
  @extend %icon-news;
}

%icon-ocmw-intranet {
  @extend %icon-template;
  content: '\EA20';
}

.icon-ocmw-intranet:before {
  @extend %icon-ocmw-intranet;
}

%icon-ocmw-medewerkers {
  @extend %icon-template;
  content: '\EA21';
}

.icon-ocmw-medewerkers:before {
  @extend %icon-ocmw-medewerkers;
}

%icon-personal-news {
  @extend %icon-template;
  content: '\EA22';
}

.icon-personal-news:before {
  @extend %icon-personal-news;
}

%icon-play {
  @extend %icon-template;
  content: '\EA23';
}

.icon-play:before {
  @extend %icon-play;
}

%icon-report {
  @extend %icon-template;
  content: '\EA24';
}

.icon-report:before {
  @extend %icon-report;
}

%icon-reside {
  @extend %icon-template;
  content: '\EA25';
}

.icon-reside:before {
  @extend %icon-reside;
}

%icon-sanitation {
  @extend %icon-template;
  content: '\EA26';
}

.icon-sanitation:before {
  @extend %icon-sanitation;
}

%icon-search-standard {
  @extend %icon-template;
  content: '\EA27';
}

.icon-search-standard:before {
  @extend %icon-search-standard;
}

%icon-so-intranet {
  @extend %icon-template;
  content: '\EA28';
}

.icon-so-intranet:before {
  @extend %icon-so-intranet;
}

%icon-social-affairs {
  @extend %icon-template;
  content: '\EA29';
}

.icon-social-affairs:before {
  @extend %icon-social-affairs;
}

%icon-sports {
  @extend %icon-template;
  content: '\EA2A';
}

.icon-sports:before {
  @extend %icon-sports;
}

%icon-staff {
  @extend %icon-template;
  content: '\EA2B';
}

.icon-staff:before {
  @extend %icon-staff;
}

%icon-time {
  @extend %icon-template;
  content: '\EA2C';
}

.icon-time:before {
  @extend %icon-time;
}

%icon-traffic {
  @extend %icon-template;
  content: '\EA2D';
}

.icon-traffic:before {
  @extend %icon-traffic;
}

%icon-uit-vlieg {
  @extend %icon-template;
  content: '\EA2E';
}

.icon-uit-vlieg:before {
  @extend %icon-uit-vlieg;
}

%icon-uit {
  @extend %icon-template;
  content: '\EA2F';
}

.icon-uit:before {
  @extend %icon-uit;
}

%icon-webmail {
  @extend %icon-template;
  content: '\EA30';
}

.icon-webmail:before {
  @extend %icon-webmail;
}

%icon-welfare {
  @extend %icon-template;
  content: '\EA31';
}

.icon-welfare:before {
  @extend %icon-welfare;
}

%icon-wiki {
  @extend %icon-template;
  content: '\EA32';
}

.icon-wiki:before {
  @extend %icon-wiki;
}

%icon-yammer {
  @extend %icon-template;
  content: '\EA33';
}

.icon-yammer:before {
  @extend %icon-yammer;
}
